.pagination {
    margin-top: 16px;
    background: #ffffff;
}

.pagination-info {
    color: #6b7280;
    display: flex;

    >* {
        margin-right: 2rem;
    }
}

.pagination-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.pagination-actions button {
    min-width: 80px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #ffffff;
    color: #2563eb;
    cursor: pointer;
    transition: all 0.15s ease;
}

/* Hover */
.pagination-actions button:hover:not(:disabled) {
    background: #2563eb;
    color: #ffffff;
    border-color: #2563eb;
}

/* Disabled */
.pagination-actions button:disabled {
    color: #9ca3af;
    background: #f9fafb;
    cursor: not-allowed;
}

.pagination {

    .page-input{
        width: 48px;
    }
}


.page-input:focus {
    border-color: #0f62fe;
    /* IBM / Carbon blue 😉 */
    box-shadow: 0 0 0 2px rgba(15, 98, 254, 0.2);
}

/* removing up down */
/* Chrome, Safari, Edge */
input[type="number"].page-input::-webkit-outer-spin-button,
input[type="number"].page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"].page-input {
    -moz-appearance: textfield;
}