.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 10rem;
}

input,
select {
  padding: 4px 6px;
  text-align: center;

  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;

  outline: none;
  margin: 0 3px;
}

@media (max-width: 768px) {
  .app {
    padding: 1rem;
  }
}